<div class="container">
  <div class= "header">
    <nav id="nav-main">
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Favorites", favorites_path%></li>
  <li><%= link_to "Sign Up", signup_path%></li>
</ul>
</nav>
<div id="nav-trigger">
<span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
</div>

<!-- CAROUSEL/DESCRIPTION////////// -->
     <div class="headerbox" id="w_name">
      <span id="adanim">adopt</span><span id="apanim">Petz</span>
    </div>

<% @favorites.each do |fav| %>
  <div class="fav-pet">
    <figure>
      <%=image_tag(fav.pet.image) %>
      <figcaption><%=fav.pet.name%></figcaption>
    </figure>
  </div>
<% end %>
