<!-- MODAL /////////// -->
 <a id="demo01" href="#animatedModal"></a>
  <div id="animatedModal" class="animated animatedModal-off">

    <div id="closebt-container" class="close-animatedModal">
      <div class='close-btn-container'>
        <%= image_tag('closebt.svg', :alt => 'Close', :class => 'closebt') %>
      </div>
    </div>

    <div class="modal-content">
      <p class="welcome">Welcome</p>
      <div class="text">
        <p>
          <span class="main_st"><span id="ap">adoptPetz</span> is the place where you can meet your new best friend with the click of a button.</span>
        </p>
        <p>Please <span class="sign_in">Sign-In</span> or <span class="login">Login</span> to make the best out of your experience!</p>
        <p><span id="find">Finding your best friend has never been easier.</span><br><br> After making an account, a picture of an adoptable friend will show up.</p> <p>Click the Happy Dog and add them to your Favorites. The Mad Cat will scroll to the next friend.</p>
        <p><span id="find">Have <span id="ap">fun</span>!</span></p>
      </div>
    </div>
  </div>
    <div class="container">
      <div class= "header">
        <nav id="nav-main">
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Favorites", favorites_path%></li>
        <li><%= link_to "Login", login_path%></li>
        <li><%= link_to "Sign Up", signup_path%></li>
    </ul>
</nav>
<div id="nav-trigger">
    <span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
    </div>

<!-- CAROUSEL/DESCRIPTION////////// -->
         <div class="headerbox" id="w_name">
          <span id="adanim">adopt</span><span id="apanim">Petz</span>
        </div>
        <div class="carousel"><div class="img_center">
          <%= image_tag(@pet.image, :id => "petimage") %>
        </div>
    </div>
  </div>
    <!-- LIKE/DISLIKE/////////// -->
       <div class= "likebuttons">
        <div class="like">
          <div id="likedog">
            <%= image_tag('likedogNoBG2.png', :alt => "like") %>
            <div id="petid"><%= @pet.id %></div>
          </div>
        </div>
        <div class="dislike">
          <div id="dislikecat">
            <%= image_tag('dislikecatNoBG2.png', :alt => "dislike") %>
          </div>
        </div>
      </div>

<!-- FOOTER////////// -->
     <div class="pet_info">
        <ul>
         <li><strong>Name:</strong>
           <scan id="petname"><%= @pet.name %></scan>
         </li>
          <li><strong>Breed:</strong>
            <scan id="petbreed">
              <%= @pet.breed %>
            </scan>
          </li>
          <li><strong>Sex:</strong>
            <scan id="petsex">
              <%= @pet.sex %>
            </scan>
          </li>
          <li><strong>Age:</strong>
            <scan id="petage">
              <%= @pet.age %>
            </scan>
          </li>
          <li><strong>Size:</strong>
            <scan id="petsize">
              <%= @pet.size %>
            </scan>
          </li>
          <li><strong>Description:</strong>
            <scan id="petdescript">
              <%= @pet.description %>
            </scan>
          </li>
        </ul>
    </div>

<p id="notice"><%= notice %></p>
