<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS /////////// -->
    <link rel="stylesheet" href="frifam.css">
    <!-- JQUERY /////////// -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <!-- GOOGLE FONT/////////// -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Satisfy" rel="stylesheet">
    <!-- SLICK /////////// -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <!-- SLICK CSS /////////// -->
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

    <!-- HEADER/////////// -->
    <title>AdoptPetz</title>
  </head>
  <body>

  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Adopt Petz</h2>
    </div>
    <div class="modal-body">
      <p><img class ="angry_dog" src="file:///Users/mikosflower/Documents/wyncode/frifam/bassetmodal.jpg" alt="Host">
        <br>Welcome! Adopt Petz is the place where you can meet your new best friend with the click of a button. <br>
      Please Sign-In or Login to make the best out of your experience!<br><br>
      Finding your best friend has never been easier. After making an account, a picture of an adorable adoptable friend will show up.<p> Click the Happy Dog and add them to your Favorites. The Mad Cat will scroll to the next friend.</p><br><br>That's how easy it is! If you find your next best friend, let us know and we will add you to our upcoming Success Stories page!</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>
  </div>

<!-- HEADER/////////// -->
</div>
    <header>
      <div class= "header">
      <div class="headerbox" id="w_name">
        <div class="headerBG">
        Adopt Petz
        <span id="description">1 click away from your <span id="animate_new">new</span> best friend!</span>
      </div></div>
    </header>


    <!-- CAROUSEL/DESCRIPTION////////// -->

    <div class="container">
        <div class="navbar">
          TEST TEST TEST
        </div>
        <div class="carousel">
        <img class="img_center" src="http://lorempixel.com/640/500/cats/Dummy-Text" alt=""></div>
      </div>



    <!-- LIKE/DISLIKE/////////// -->
      <div class= "likebuttons">
          <div class="like"><img src="file:///Users/mikosflower/Documents/wyncode/frifam/likedog.jpg" alt="Like">&nbsp;&nbsp;&nbsp;</div>

          <div class="dislike"><img src="file:///Users/mikosflower/Documents/wyncode/frifam/dislikecat.jpg" alt="Dislike">
          </div>
      </div>

    <!-- FOOTER////////// -->

      <footer>
      <div class="aboutus">
      </div>
    </footer>
      <!-- JQUERY /////////// -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <!-- SLICKJS/////////// -->
      <script type="text/javascript" src="slick/slick.min.js"></script>
      <!-- JS/////////// -->
      <script src="frifam.js" type="text/javascript"></script>
  </body>
</html>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pet.image %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>


