


  <!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Adopt Petz</h2>
    </div>
    <div class="modal-body">
      <p><img class ="angry_dog" src="file:///Users/mikosflower/Documents/wyncode/frifam/bassetmodal.jpg" alt="Host">
        <br>Welcome! Adopt Petz is the place where you can meet your new best friend with the click of a button. <br>
      Please Sign-In or Login to make the best out of your experience!<br><br>
      Finding your best friend has never been easier. After making an account, a picture of an adorable adoptable friend will show up.<p> Click the Happy Dog and add them to your Favorites. The Mad Cat will scroll to the next friend.</p><br><br>That's how easy it is! If you find your next best friend, let us know and we will add you to our upcoming Success Stories page!</p>
    </div>
    <div class="modal-footer">
    </div>
  </div>
  </div>

<!-- HEADER/////////// -->
</div>
    <header>
      <div class= "header">
      <div class="headerbox" id="w_name">
        <div class="headerBG">
        Adopt Petz
        <span id="description">1 click away from your <span id="animate_new">new</span> best friend!</span>
      </div></div>
    </header>


    <!-- CAROUSEL/DESCRIPTION////////// -->

    <div class="container">
        <div class="navbar">
          TEST TEST TEST
        </div>
        <div class="carousel">
        <img class="img_center" src="http://lorempixel.com/640/500/cats/Dummy-Text" alt=""></div>
      </div>



    <!-- LIKE/DISLIKE/////////// -->
      <div class= "likebuttons">
        <div class="like">
          <%= link_to image_tag('likedog.jpg', :alt => 'Like'), favorite_pet_path(Pet.find_by_image(@pet.image).id), :method => :post, data: { confirm: 'Pet has been added to your Favorites!' }%>
        </div>
        <div class="dislike">
            <%= link_to image_tag('dislikecat.jpg', :alt => "Dislike")%>
        </div>
      </div>

    <!-- FOOTER////////// -->

      <footer>
      <div class="aboutus">
      </div>
    </footer>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pet.image %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>
