<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSS /////////// -->
    <link rel="stylesheet" href="frifam.css">
<!-- JQUERY /////////// -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
<!-- GOOGLE FONT/////////// -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <title>adoptPetz</title>
  </head>
  <body>
<!-- MODAL /////////// -->
    <a id="demo01" href="#animatedModal"></a>
    <div id="animatedModal">

        <div id="closebt-container" class="close-animatedModal">
          <div class='close-btn-container'>
            <img class="closebt" src="closebt.svg">
        </div>
        </div>

    <div class="modal-content">
      <p class="welcome">Welcome</p>
          <div class="text"><p><span class="main_st"><span id="ap">adoptPetz</span> is the place where you can meet your new best friend with the click of a button.</span></p>
          <p>Please <span class="sign_in">Sign-In</span> or <span class="login">Login</span> to make the best out of your experience!</p>
          <p><span id="find">Finding your best friend has never been easier.</span><br><br> After making an account, a picture of an adoptable friend will show up.</p> <p>Click the Happy Dog and add them to your Favorites. The Mad Cat will scroll to the next friend.</p><p><span id="find">Have <span id="ap">fun</span>!</span></p>
        </div>
        </div>
      </div>
<!-- HEADER/////////// -->

    <div class="container">
      <div class= "header">
        <nav id="nav-main">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Favorites</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Shelter</a></li>
    </ul>
</nav>
<div id="nav-trigger">
    <span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
    </div>

<!-- CAROUSEL/DESCRIPTION////////// -->
        <div class="headerbox" id="w_name">
          <span id="adanim">adopt</span><span id="apanim">Petz</span>
        </div>
        <div class="carousel">
        <img class="img_center" src="http://lorempixel.com/500/352/cats/Dummy-Text" alt=""></div>
      </div>


<!-- LIKE/DISLIKE/////////// -->
       <div class= "likebuttons">
          <div class="like"><img src="file:///Users/mikosflower/Documents/wyncode/frifam/likedogNoBG2.png" alt="Like"></div>
          <div class="dislike"><img src="file:///Users/mikosflower/Documents/wyncode/frifam/dislikecatNoBG2.png" alt="Dislike">
          </div>
      </div>

<!-- FOOTER////////// -->
    <div class="pet_info">
        <ul>
         <li>Lorem ipsum dolor sit amet,  consectetuer adipiscing elit.
          <li>Aliquam tincidunt mauris eu risus.</li>
          <li>Vestibulum auctor dapibus neque.</li>
          <li>Cras ornare tristique elit.</li>
        </ul>
    </div>

<!-- JQUERY /////////// -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <!-- MODAL/////////// -->
      <script src="animatedModal/animatedModal.min.js"></script>
      <!-- JS/////////// -->
      <script src="frifam.js" type="text/javascript"></script>
  </body>
</html>



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pet.image %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>
