<div class="container">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <div class= "header">
    <nav id="nav-main">
<ul>
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Favorites", favorites_path%></li>
  <li><%= link_to "Sign Up", signup_path%></li>
</ul>
</nav>
<div id="nav-trigger">
<span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
</div>

<!-- CAROUSEL/DESCRIPTION////////// -->
     <div class="headerbox" id="w_name">
      <span id="adanim">adopt</span><span id="apanim">Petz</span>
    </div>

    <div class= "sign_up">

<%= form_for :user, url: '/users' do |f| %>
<ul class="login">
  <li class="name"><%= f.text_field :name, placeholder: "Name" %></li>
  <li id="email"><%= f.text_field :email, placeholder: "Email" %></li>
  <li id="pw"><%= f.password_field :password, placeholder: "Password" %></li>
  <li id="conf"> <%= f.password_field :password_confirmation , placeholder: "Confirm Password" %></li>
  <li id="submit"><%= f.submit "Register" %></li>
</ul></div>
<% end %>
