<div class="container">
  <div class= "header">
    <nav id="nav-main">
<ul>
    <li><a href="">Home</a></li>
    <li><a href="">Favorites</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Shelter</a></li>
</ul>
</nav>
<div id="nav-trigger">
<span>Menu</span>
</div>
<nav id="nav-mobile"></nav>
</div>

<!-- CAROUSEL/DESCRIPTION////////// -->
     <div class="headerbox" id="w_name">
      <span id="adanim">adopt</span><span id="apanim">Petz</span>
    </div>

    <h1>Sign Up</h1>

<%= form_for :user, url: '/users' do |f| %>
<ul>
  <li>Name: <%= f.text_field :name %></li>
  <li>Email: <%= f.text_field :email %></li>
  <li>Password: <%= f.password_field :password %></li>
  <li>Password Confirmation: <%= f.password_field :password_confirmation %></li>
  <li><%= f.submit "Submit" %></li>
</ul>
<% end %>
